<div class="container-fluid">
    <nav-bar></nav-bar>
    <div class="row">
      <div class="col" #hsMap>
        <div class="card bg-light m-1" style="height: 90vh">
          <div class="card-header">
            <div class="row">
              <div class="col">                
                  <form class="form-inline">
                    <input name="email" class="form-control m-1" [(ngModel)]="email" placeholder="User" type="text">
                    <input name="compositionid" class="form-control m-1" [(ngModel)]="AppService.compositionId" placeholder="Composition ID or blank to create" type="text">
                    <button type="button" class="btn btn-primary m-1" (click)="connect()">Connect</button>
                  </form>
              </div>
            </div>
          </div>
          <div class="card-body p-1">
            <hslayers style="height: 100%"></hslayers>
            <pm-whiteboard></pm-whiteboard>
          </div>
        </div>
      </div>
    </div>
    <pm-toast aria-live="polite" aria-atomic="true"></pm-toast>
  </div>